body{
color:white;    
text-align:center;

width:780px;
line-height:50px;
padding:2%;
}


#header{
width:100%;
height:50px;
background-color:aqua;  
float:left;
}

#nav{
width:100%;
height:50px;
background-color:yellow;
float:left;
}

#sidebar{
width:25%;
height:500px;
background-color:navy;
line-height:350px;
float:left;
}

#main{
width:75%;
height:500px;
background-color:lightgreen;
line-height:350px;
float:left;
}

#footer{
height:50px;
width:100%;
background-color:orange;
float:left;
}
